<html>

<body>

    <div>
        <div>
            <div style="height: 100px">test</div>
            <div style="height: 300px">test</div>
            <div style="height: 200px">test</div>
        </div>
    </div>

</body>

</html>